@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-badge: var(--badge);
  --color-badge-foreground: var(--badge-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-outline-foreground: var(--outline-foreground);
  --color-avatar: var(--avatar-bg);
  --color-nav-hover: var(--nav-hover);
  --color-skill-yellow: var(--skill-yellow);
  --color-skill-yellow-track: var(--skill-yellow-track);
  --color-skill-red: var(--skill-red);
  --color-skill-red-track: var(--skill-red-track);
  --color-skill-gray: var(--skill-gray);
  --color-skill-gray-track: var(--skill-gray-track);
  --color-skill-blue: var(--skill-blue);
  --color-skill-blue-track: var(--skill-blue-track);
  --color-skill-green: var(--skill-green);
  --color-skill-green-track: var(--skill-green);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --shadow-elevation-2:
    0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
    0px 1px 5px 0px rgb(0 0 0 / 12%);
}

:root {
  --background: #f5f5f7;
  --foreground: #2e2e2e;
  --card: var(--background);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);
  --primary: #c63031;
  --primary-foreground: #fffff;
  --secondary: var(--background);
  --secondary-foreground: rgb(0 0 0 / 60%);
  --muted: rgb(0 0 0 / 12%);
  --muted-foreground: rgb(0 0 0 / 26%);
  --badge: rgb(0 0 0 / 80%);
  --badge-foreground: var(--foreground);
  --accent: oklch(97% 0 0deg);
  --accent-foreground: oklch(20.5% 0 0deg);
  --destructive: oklch(57.7% 0.245 27.325deg);
  --border: rgb(0 0 0 / 23%);
  --input: rgb(0 0 0 / 23%);
  --ring: rgb(0 0 0 / 23%);
  --avatar-bg: #bdbdbd;
  --nav-hover: rgb(0 0 0 / 4%);
  --skill-yellow: #ffb800;
  --skill-yellow-track: #ffe49e;
  --skill-red: #c63031;
  --skill-red-track: #e9b0b0;
  --skill-gray: #767676;
  --skill-gray-track: #cacaca;
  --skill-blue: #0288d1;
  --skill-blue-track: #9ed1ed;
  --skill-green: #2e7d32;
  --skill-green-track: #afcdb1;
  --radius: 0.625rem;
}

.dark {
  --background: #353535;
  --foreground: #fff;
  --card: var(--background);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);
  --primary: #c63031;
  --primary-foreground: var(--foreground);
  --secondary: var(--background);
  --secondary-foreground: rgb(255 255 255 / 70%);
  --outline-foreground: #767676;
  --muted: rgb(255 255 255 / 12%);
  --muted-foreground: rgb(255 255 255 / 30%);
  --badge: rgb(255 255 255 / 16%);
  --badge-foreground: var(--foreground);
  --accent: oklch(26.9% 0 0deg);
  --accent-foreground: oklch(98.5% 0 0deg);
  --destructive: oklch(70.4% 0.191 22.216deg);
  --border: rgb(255 255 255 / 23%);
  --ring: rgb(255 255 255 / 23%);
  --input: rgb(255 255 255 / 23%);
  --avatar-bg: #757575;
  --nav-hover: rgb(255 255 255 / 8%);
  --skill-yellow: #ffb800;
  --skill-yellow-track: #7f5c00;
  --skill-red: #c63031;
  --skill-red-track: #631818;
  --skill-gray: #767676;
  --skill-gray-track: #3b3b3b;
  --skill-blue: #29b6f6;
  --skill-blue-track: #145b7b;
  --skill-green: #66bb6a;
  --skill-green-track: #335d35;
}

@layer base {
  * {
    @apply border-border;
  }

  p {
    @apply text-base;
  }

  h4 {
    @apply text-4xl font-normal;
  }

  h5 {
    @apply text-2xl;
  }

  h6 {
    @apply text-xl font-medium;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  html {
    @apply font-sans;
  }
}
