@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-badge: var(--badge);
  --color-badge-foreground: var(--badge-foreground);
  --color-combobox: var(--combobox);
  --color-combobox-hover: var(--combobox-hover);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-outline-foreground: var(--outline-foreground);
  --color-avatar: var(--avatar);
  --color-avatar-nav: var(--avatar-nav);
  --color-avatar-actions-hover: var(--avatar-actions-hover);
  --color-avatar-foreground: var(--avatar-foreground);
  --color-nav-hover: var(--nav-hover);
  --color-skill-proficient: var(--skill-proficient);
  --color-skill-proficient-track: var(--skill-proficient-track);
  --color-skill-expert: var(--skill-expert);
  --color-skill-expert-track: var(--skill-expert-track);
  --color-skill-novice: var(--skill-novice);
  --color-skill-novice-track: var(--skill-novice-track);
  --color-skill-advanced: var(--skill-advanced);
  --color-skill-advanced-track: var(--skill-advanced-track);
  --color-skill-competent: var(--skill-competent);
  --color-skill-competent-track: var(--skill-competent-track);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --shadow-elevation-2:
    0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
    0px 1px 5px 0px rgb(0 0 0 / 12%);
}

:root {
  --background: #f5f5f7;
  --foreground: #2e2e2e;
  --card: var(--background);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);
  --primary: #c63031;
  --primary-foreground: var(--background);
  --secondary: var(--background);
  --secondary-foreground: rgb(0 0 0 / 60%);
  --muted: rgb(0 0 0 / 12%);
  --muted-foreground: rgb(0 0 0 / 26%);
  --badge: var(--secondary-foreground);
  --badge-foreground: var(--background);
  --combobox: #ffff;
  --combobox-hover: rgb(0 0 0 / 4%);
  --accent: oklch(97% 0 0deg);
  --accent-foreground: oklch(20.5% 0 0deg);
  --destructive: oklch(57.7% 0.245 27.325deg);
  --border: rgb(0 0 0 / 23%);
  --input: rgb(0 0 0 / 23%);
  --ring: rgb(0 0 0 / 23%);
  --avatar: #bdbdbd;
  --avatar-nav: var(--primary);
  --avatar-foreground: var(--background);
  --avatar-actions-hover: rgb(118 118 118 / 4%);
  --nav-hover: rgb(0 0 0 / 4%);
  --skill-proficient: #ffb800;
  --skill-proficient-track: #ffe49e;
  --skill-expert: #c63031;
  --skill-expert-track: #e9b0b0;
  --skill-novice: #767676;
  --skill-novice-track: #cacaca;
  --skill-advanced: #0288d1;
  --skill-advanced-track: #9ed1ed;
  --skill-competent: #2e7d32;
  --skill-competent-track: #afcdb1;
  --radius: 0.625rem;
}

.dark {
  --background: #353535;
  --foreground: #fff;
  --card: var(--background);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);
  --primary: #c63031;
  --primary-foreground: var(--foreground);
  --secondary: var(--background);
  --secondary-foreground: rgb(255 255 255 / 70%);
  --outline-foreground: #767676;
  --muted: rgb(255 255 255 / 12%);
  --muted-foreground: rgb(255 255 255 / 30%);
  --badge: rgb(255 255 255 / 16%);
  --badge-foreground: var(--foreground);
  --combobox: #2f2f2f;
  --combobox-hover: rgb(255 255 255 / 8%);
  --accent: oklch(26.9% 0 0deg);
  --accent-foreground: oklch(98.5% 0 0deg);
  --destructive: oklch(70.4% 0.191 22.216deg);
  --border: rgb(255 255 255 / 23%);
  --ring: rgb(255 255 255 / 23%);
  --input: rgb(255 255 255 / 23%);
  --avatar: #757575;
  --avatar-nav: var(--primary);
  --avatar-actions-hover: rgb(118 118 118 / 8%);
  --avatar-foreground: var(--background);
  --nav-hover: rgb(255 255 255 / 8%);
  --skill-proficient: #ffb800;
  --skill-proficient-track: #7f5c00;
  --skill-expert: #c63031;
  --skill-expert-track: #631818;
  --skill-novice: #767676;
  --skill-novice-track: #3b3b3b;
  --skill-advanced: #29b6f6;
  --skill-advanced-track: #145b7b;
  --skill-competent: #66bb6a;
  --skill-competent-track: #335d35;
}

@layer base {
  * {
    @apply border-border;
  }

  p {
    @apply text-base;
  }

  h4 {
    @apply text-4xl font-normal;
  }

  h5 {
    @apply text-2xl;
  }

  h6 {
    @apply text-xl font-medium;
  }

  body {
    height: 100dvh;
    width: 100%;
    overflow: hidden;

    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  html {
    height: 100dvh;
    overflow: hidden;

    @apply font-sans;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0 1000px var(--background) inset !important;
    box-shadow: 0 0 0 1000px var(--background) inset !important;
    -webkit-text-fill-color: var(--foreground) !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(189 189 189);
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
